// @import "common/normalize";
@import "common/reset.scss";

$color: #444444;
$bg: #eef1f7;
$bg1 : #c4cfdd;
$bg2 : #96b4e1;
// $main : #143F69;
$main : #023184;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25 rgba(0, 0, 0, .05);

@import "layout/layout";

@import "libs/libs"; //bootstrap,

// SCSS header
@import "components/header/header";
// @import "components/header/header-alt";

// SCSS services-Desktop
// @import "components/services/services";
@import "components/services/list";
@import "components/services/description";

// SCSS code for Page
@import "components/pages/page";

.page__header {
    height: 100px;
    outline: 5px solid black;
}

.sticky {
  position: sticky;
  top: 2em;
}


.first-screen {
    // height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    background-color: $bg;
}

// TODO first-screen - это общая секция для хедера банера и нижней части первого экрана. Нужно делать обертку для банера и иottom части. Сделай правильный лэйаут пока сss еще небольшой !



.baner {
    // background-color: $bg;
    box-shadow: 0 0 25px #0000000d;
    border-radius: .2em;
    padding: 2.5em 2.5em;
    margin: 2em 0em;
    justify-content: space-between;
    align-items: center;
}

.header__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.baner__under {
    box-shadow: 0 0 25px #0000000d;
    margin-top: auto;
    width: 100%;
    height: auto;
    // background-color: $bg;
}

.baner__title {
    font-size: 2.9rem;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.baner__title h2 {
    font-size: 2.1rem;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
        display: inline-block;
    }
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .card {
        flex: 0 0 auto;
        padding:  1.3em 1.5em;
        margin-right: 1.1em;
        background-color: $bg;
        border: none;
    }
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
    &::-webkit-scrollbar {
        display: none;
    }
}


// Media-Query Swiper --- Desktop 
@media (min-width: 991px) { 
  .swiper {
      width: 600px !important;
  }
 }

 // Стили Swiper --- Mobile
 @media (min-width: 768px) { 
  .swiper {
      // width: 400px !important;
      margin: 0 auto;
  }
 }

 @media (max-width: 767px) {
  .swiper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}
 

// Стили для пагинации и буллетов

.swiper-button-next {
  background-color: transparent;
    right: 20px;
  }
  
  .swiper-button-prev {
    background-color: transparent;  
    left: 20px;
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    color: black;
    font-style: 30px;
  }
  
  .swiper-pagination-bullet {
    border-color: transparent;
    width: 15px;
    height: 15px;
    opacity: .5;
    border-radius: 0;
    border: 1px solid #f2f2f2;
  }
  
  .swiper-pagination-bullet-active {
    background-color: transparent;
  }

  //    //Стили для пагинации и буллетов



  