// @import "common/normalize";
@import "common/reset.scss";

@font-face {
  font-family: "ProximaNova";
  src: local("fonts/ProximaNova-Regular"),
          local("ProximaNova-Regular"),
          url("fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}

body {
  font-size: 16px;
  font-family: "ProximaNova";
}

$color: #444444;
$bg: #eef1f7;
$bg1 : #c4cfdd;
$bg2 : #96b4e1;
// $main : #143F69;
$main : #023184;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25 rgba(0, 0, 0, .05);

@import "layout/layout";

@import "libs/libs"; //bootstrap,

// SCSS header
@import "components/header/header";
@import "components/header/header-page";

// SCSS 
@import "components/first-screen";

// SCSS services-Desktop
@import "components/services/list";
@import "components/services/description";