// media ##########################
@media (orientation: landscape) {
    /* При горизонтальной ориентации фоновым цветом сайта будет белый */
    body {
      background: #FFF;
    }
  }

  @media (orientation: portrait) {
    /* При вертикальной ориентации фоновым цветом сайта будет чёрный */
    body {
      background: #000;
    }
  }

// mixins ##########################
@mixin gorizontal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
}